name: Staging Deploy

on:
  push:
    branches:
      - staging

jobs:
  heroku_deploy:
    name: Push to heroku staging environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout src
        uses: actions/checkout@v2
        with:
          ref: staging

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_STAGING_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL_ADDRESS}}
          team: whatisfood
          branch: staging
